html
	head
		meta(chaset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title 求签
		link(rel='stylesheet', href='style/luck.css')
		script(src='js/zepto.js')
		script(src='js/luck.js')
	body
		#moCalcTiltLR
		#moCalcTiltFB
		.title
			| 今天是#{params.date.year}年#{params.date.month}月#{params.date.date}日星期#{params.date.day}
		.luck-init
			img(id ='imgLogo',src='img/qian.jpg')
		.luck-txt
		input.luck-btn(type='button', value='求签')